<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100630907056-ldp6qot6jndfmp2o1jmjptbjkdp2oval.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100630907056-ldp6qot6jndfmp2o1jmjptbjkdp2oval</string>
	<key>API_KEY</key>
	<string>AIzaSyDpS0G06XuJ-h1wTm_jt4opgqHjHx3NAkU</string>
	<key>GCM_SENDER_ID</key>
	<string>100630907056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brenaamorim.APSProject</string>
	<key>PROJECT_ID</key>
	<string>aps-project-14b5b</string>
	<key>STORAGE_BUCKET</key>
	<string>aps-project-14b5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:100630907056:ios:7c441feab54b1ef0ae5375</string>
</dict>
</plist>
